.cell-sm-12
  .text-left
    %h3 Terminvereinbarung
    %hr.divider-custom.text-java.hr-left-0.hr-sm-left-2
    .offset-top-66
      %p
        Ich freue mich auf Ihre Nachricht.
.cell-sm-12
  .range.text-left
    .cell-sm-12.cell-md-6.cell-lg-3.offset-top-60
      %h6 Adresse
      %hr.text-subline
      .offset-top-20
        .unit.unit-horizontal.unit-spacing-xxs.p
          .unit-left
            .icon.icon-xxs.text-middle.mdi.mdi-map-marker.text-primary
          .unit-body
            %p
              Senefelderstr. 16
              %br
              10437 Berlin
    .cell-sm-12.cell-md-6.cell-lg-3.offset-top-60
      %h6 Anfahrt
      %hr.text-subline
      .offset-top-20
        .unit.unit-horizontal.unit-spacing-xxs.p
          .unit-body
            %p
              S-Bhf. Prenzlauer Allee (Ringbahn)
            %p
              vom S-und U-Bhf. Alexanderplatz: <br>Tram M2 Richtung „Am Steinberg“, Ausstieg Fröbelstraße

.cell-sm-12
  .range.text-left
    .cell-sm-12.cell-md-6.cell-lg-3.offset-top-60
      %h6 Öffnungszeiten
      %hr.text-subline
      .offset-top-20
        .unit.unit-horizontal.unit-spacing-xxs.p
          .unit-left
            .icon.icon-xxs.text-middle.mdi.mdi-calendar-clock.text-primary
          .unit-body
            %p
              Termine nach Vereinbarung
    .cell-sm-12.cell-md-6.cell-lg-3.offset-top-60
      %h6 Telefon
      %hr.text-subline
      .offset-top-20
        .unit.unit-horizontal.unit-spacing-xxs.p
          .unit-left
            .icon.icon-xxs.text-middle.mdi.mdi-phone.text-primary
          .unit-body
            %a{href: "callto:+4915128760177", class: "text-dark reveal-block"}
              (0)151 287 60 177
    .cell-sm-12.cell-md-6.cell-lg-3.offset-top-60
      %h6 E-mail
      %hr.text-subline
      .offset-top-20
        .unit.unit-horizontal.unit-spacing-xxs.p
          .unit-left
            .icon.icon-xxs.text-middle.mdi.mdi-email-outline.text-primary
          .unit-body
            %a{href: "mailto:info@psychotherapie-reiter.de", class: "text-dark"}
              info@psychotherapie-reiter.de
