%footer.section-relative.section-34.section-md-66.page-footer.bg-white.context-light
  .shell
    .inset-xl-left-30
      .range.range-sm-center
        .cell-sm-8.cell-md-12
          .range.range-md-justify.range-md-middle
            .cell-md-3.cell-md-push-1.text-md-left
              .footer-brand.reveal-inline-block
                = link_to 'index.html' do
                  = image_tag 'logo-dark.png', width:'203', height: '70', class: 'img-responsive', alt:''
            .cell-md-5.offset-top-55.offset-md-top-0.cell-md-push-2
              %p.text-gray
                &copy;
                %span#copyright-year
                All Rights Reserved.
                = link_to 'Terms of Use and Privacy Policy', 'privacy.html', class: 'text-gray'
