%footer.section-relative.section-34.section-md-66.page-footer.bg-white.context-light
  .shell
    .inset-xl-left-30
      .range.range-sm-center
        .cell-sm-8.cell-md-12
          .range.range-md-justify.range-md-middle
            .cell-md-4.cell-md-push-1.text-md-left
              .footer-brand.reveal-inline-block
                = partial "layouts/logo_link"
            .cell-md-5.offset-top-55.offset-md-top-0.cell-md-push-2
              %p.text-gray
                &copy;
                %span#copyright-year
                All Rights Reserved.
                = link_to 'Terms of Use and Privacy Policy', 'privacy.html', class: 'text-gray'
