.page.text-center

  = partial "layouts/header", locals: {page: "contact"}

  %main.page-content.section-top-98.section-sm-top-110
    %section
      .shell
        .range.range-xs-center
          = partial "layouts/contact_types2"

      .offset-top-110
        = partial "layouts/map"

    = partial 'layouts/footer', locals: {bg_color: "bg-lighter"}
