.page.text-center

  = partial "layouts/header", locals: {page: "contact"}

  %main.page-content.section-top-98.section-sm-top-110
    %section
      .shell
        .range.range-xs-center
          .cell-sm-9.cell-md-8.cell-lg-12
            .range
              .cell-lg-8.text-left
                %h3 Terminvereinbarung
                %hr.divider-custom.text-java.hr-left-0.hr-sm-left-2
                .offset-top-66
                  %p
                    Ich freue mich auf Ihre Nachricht.
              .cell-lg-4.text-left.offset-lg-top-0
                .inset-lg-left-40
                  .offset-top-60
                    %h6 Adresse
                    %hr.text-subline
                    .offset-top-20
                      .unit.unit-horizontal.unit-spacing-xxs.p
                        .unit-left
                          .icon.icon-xxs.text-middle.mdi.mdi-map-marker.text-primary
                        .unit-body
                          %p
                            Senefelderstr. 16
                            %br
                            10437 Berlin
                  .offset-top-60
                    %h6 Öffnungszeiten
                    %hr.text-subline
                    .offset-top-20
                      .unit.unit-horizontal.unit-spacing-xxs.p
                        .unit-left
                          .icon.icon-xxs.text-middle.mdi.mdi-calendar-clock.text-primary
                        .unit-body
                          %p
                            Termine nach Vereinbarung
                  .offset-top-60
                    %h6 Telefon
                    %hr.text-subline
                    .offset-top-20
                      .unit.unit-horizontal.unit-spacing-xxs.p
                        .unit-left
                          .icon.icon-xxs.text-middle.mdi.mdi-phone.text-primary
                        .unit-body
                          %a{href: "callto:+4915128760177", class: "text-dark reveal-block"}
                            +49 / (0)151 287 60 177
                  .offset-top-60
                    %h6 E-mail
                    %hr.text-subline
                    .offset-top-20
                      .unit.unit-horizontal.unit-spacing-xxs.p
                        .unit-left
                          .icon.icon-xxs.text-middle.mdi.mdi-email-outline.text-primary
                        .unit-body
                          %a{href: "mailto:info@psychotherapie-reiter.de", class: "text-dark"}
                            info@psychotherapie-reiter.de

      .offset-top-110
        = partial "layouts/map"
