.page.text-center

  = partial "layouts/header"

  %main.page-content.section-top-98.section-sm-top-110
    %section
      .shell
        .range.range-xs-center
          .cell-sm-9.cell-md-8.cell-lg-12
            .range
              .cell-lg-8.text-left
                %h3 Terminvereinbarung
                %hr.divider-custom.text-java.hr-left-0.hr-sm-left-2
                .offset-top-66
                  %p
                    Ich freue mich auf Ihre Nachricht.
