.page.text-center

  = partial "layouts/header", locals: {page: ""}

  %main.page-content
    %section.section-98.section-sm-110
      .shell
        .range.range-xs-center
          .cell-sm-12
            .text-left

              %h3 A. Datenschutzerklärung nach der DSGVO
              %hr.divider-custom.text-java.hr-left-0.hr-sm-left-2

              %h4 I.	Name und Anschrift des Verantwortlichen

              %p
                Ich nehme den Schutz Ihrer persönlichen Daten sehr ernst. Ich behandele Ihre personenbezogenen Daten vertraulich und entsprechend der gesetzlichen Datenschutzvorschriften sowie dieser Datenschutzerklärung.
                %br
                Ich möchte Sie hiermit über die Verarbeitung von personenbezogenen Daten auf dieser Website informieren.
                %br
                Ich verarbeite Ihre persönlichen Daten nur, wenn Sie hierin eingewilligt haben oder hier eine gesetzliche Grundlage besteht.

              %p
                Die Verantwortliche im Sinne der Datenschutz-Grundverordnung und anderer nationaler Datenschutzgesetze der Mitgliedsstaaten sowie sonstiger datenschutzrechtlicher Bestimmungen ist die:
              %p
                %b Praxis für Psychotherapie
                %br
                %b Dipl.-Sozialpäd. Kathrin Reiter
                %br
                %b Senefelderstr. 16
                %br
                %b 10437 Berlin
                %br
                %b Deutschland
                %br
                %b Tel.: 0151/28 76 01 77
                %br
                %b E-Mail: info@psychotherapie-reiter.de
                %br
                %b Website: www.psychotherapie-reiter.de

              %h4 II.	Name und Anschrift des Datenschutzbeauftragten

              %p
                Die Praxis hat keinen Datenschutzbeauftragten, da sie keine Angestellten hat.

              %h4 III.	Allgemeines zur Datenverarbeitung

              %p
                Meine Website dient der Bereitstellung von Informationen über meine Praxis.

              %h5 1.	Umfang der Verarbeitung personenbezogener Daten

              %p
                Ich verarbeite personenbezogene Daten der Nutzer grundsätzlich nur, soweit dies zur Bereitstellung einer funktionsfähigen Website sowie unserer Inhalte und Leistungen erforderlich ist. Die Verarbeitung personenbezogener Daten der Nutzer erfolgt regelmäßig nur nach Einwilligung des Nutzers. Eine Ausnahme gilt in solchen Fällen, in denen eine vorherige Einholung einer Einwilligung aus tatsächlichen Gründen nicht möglich ist und die Verarbeitung der Daten durch gesetzliche Vorschriften gestattet ist.

              %h5 2.	Rechtsgrundlage für die Verarbeitung personenbezogener Daten

              %p
                Soweit ich für Verarbeitungsvorgänge personenbezogener Daten eine Einwilligung der betroffenen Person einhole, dient Art. 6 Abs. 1 lit. a EU-Datenschutzgrundverordnung (DSGVO) als Rechtsgrundlage.
                %br
                Bei der Verarbeitung von personenbezogenen Daten, die zur Erfüllung eines Vertrages, dessen Vertragspartei die betroffene Person ist, erforderlich ist, dient Art. 6 Abs. 1 lit. b DSGVO als Rechtsgrundlage. Dies gilt auch für Verarbeitungsvorgänge, die zur Durchführung vorvertraglicher Maßnahmen erforderlich sind.
                %br
                Soweit eine Verarbeitung personenbezogener Daten zur Erfüllung einer rechtlichen Verpflichtung erforderlich ist, der meiner Praxis unterliegt, dient Art. 6 Abs. 1 lit. c DSGVO als Rechtsgrundlage.
                %br
                Für den Fall, dass lebenswichtige Interessen der betroffenen Person oder einer anderen natürlichen Person eine Verarbeitung personenbezogener Daten erforderlich machen, dient Art. 6 Abs. 1 lit. d DSGVO als Rechtsgrundlage.
                %br
                Ist die Verarbeitung zur Wahrung eines berechtigten Interesses meiner Praxis oder eines Dritten erforderlich und überwiegen die Interessen, Grundrechte und Grundfreiheiten des Betroffenen das erstgenannte Interesse nicht, so dient Art. 6 Abs. 1 lit. f DSGVO als Rechtsgrundlage für die Verarbeitung.

              %h5 3.	Datenlöschung und Speicherdauer

              %p
                Die personenbezogenen Daten der betroffenen Person werden gelöscht oder gesperrt, sobald der Zweck der Speicherung entfällt. Eine Speicherung kann darüber hinaus erfolgen, wenn dies durch den europäischen oder nationalen Gesetzgeber in unionsrechtlichen Verordnungen, Gesetzen oder sonstigen Vorschriften, denen der Verantwortliche unterliegt, vorgesehen wurde. Eine Sperrung oder Löschung der Daten erfolgt auch dann, wenn eine durch die genannten Normen vorgeschriebene Speicherfrist abläuft, es sei denn, dass eine Erforderlichkeit zur weiteren Speicherung der Daten für einen Vertragsabschluss oder eine Vertragserfüllung besteht.

              %h4 IV.	Bereitstellung der Website und Erstellung von Logfiles

              %h5 1.	Beschreibung und Umfang der Datenverarbeitung

              %p
                Bei jedem Aufruf meiner Internetseite erfasst das System automatisiert Daten und Informationen vom Computersystem des aufrufenden Rechners. Folgende Daten werden hierbei erhoben:

              %ol
                %li
                  Informationen über den Browsertyp und die verwendete Version
                %li
                  Das Betriebssystem des Nutzers
                %li
                  Den Internet-Service-Provider des Nutzers
                %li
                  Die IP-Adresse des Nutzers
                %li
                  Datum und Uhrzeit des Zugriffs
                %li
                  Websites, von denen das System des Nutzers auf unsere Internetseite gelangt
                %li
                  Websites, die vom System des Nutzers über unsere Website aufgerufen werden

              %p
                Die Daten werden ebenfalls in den Logfiles des Systems gespeichert. Eine Speicherung dieser Daten zusammen mit anderen personenbezogenen Daten des Nutzers findet nicht statt.

              %h5 2.	Rechtsgrundlage für die Datenverarbeitung

              %p
                Rechtsgrundlage für die vorübergehende Speicherung der Daten und der Logfiles ist Art. 6 Abs. 1 lit. f DSGVO.

              %h5 3.	Zweck der Datenverarbeitung

              %p
                Die vorübergehende Speicherung der IP-Adresse durch das System ist notwendig, um eine Auslieferung der Website an den Rechner des Nutzers zu ermöglichen. Hierfür muss die IP-Adresse des Nutzers für die Dauer der Sitzung gespeichert bleiben.

              %p
                Die Speicherung in Logfiles erfolgt, um die Funktionsfähigkeit der Website sicherzustellen. Zudem dienen die Daten zur Optimierung der Website und zur Sicherstellung der Sicherheit der informationstechnischen Systeme. Eine Auswertung der Daten zu Marketingzwecken findet in diesem Zusammenhang nicht statt.

              %p
                In diesen Zwecken liegt auch unser berechtigtes Interesse an der Datenverarbeitung nach Art. 6 Abs. 1 lit. f DSGVO.

              %h5 4.	Dauer der Speicherung

              %p
                Die Daten werden gelöscht, sobald sie für die Erreichung des Zweckes ihrer Erhebung nicht mehr erforderlich sind. Im Falle der Erfassung der Daten zur Bereitstellung der Website ist dies der Fall, wenn die jeweilige Sitzung beendet ist. Im Falle der Speicherung der Daten in Logfiles ist dies nach spätestens sieben Tagen der Fall. Eine darüberhinausgehende Speicherung ist möglich. In diesem Fall werden die IP-Adressen der Nutzer gelöscht oder verfremdet, sodass eine Zuordnung des aufrufenden Clients nicht mehr möglich ist.

              %h5 5.	Widerspruchs- und Beseitigungsmöglichkeit

              %p
                Die Erfassung der Daten zur Bereitstellung der Website und die Speicherung der Daten in Logfiles ist für den Betrieb der Internetseite zwingend erforderlich. Es besteht folglich seitens des Nutzers keine Widerspruchsmöglichkeit.

              %h4 V.	Verwendung von Cookies

              %p
                Meine Webseite verwendet keine Cookies. Es werden daher auch keine Daten erhoben oder gespeichert.

              %h4 VI.	Newsletter

              %p
                Meine Webseite bietet keinen Newsletter an. Es werden daher auch keine Daten erhoben oder gespeichert.

              %h4 VII.	Registrierung

              %p
                Auf meiner Webseite besteht keine Möglichkeit oder Notwendigkeit zur Registrierung. Es werden daher auch keine Daten erhoben oder gespeichert.

              %h4 VIII.	Kontaktformular und E-Mail-Kontakt

              %p
                Auf meiner Internetseite ist kein Kontaktformular vorhanden, welches für die elektronische Kontaktaufnahme genutzt werden kann. Es werden daher auch keine Daten erhoben oder gespeichert.

              %h4 IX.	Webanalyse

              %p
                Meine Internetseite benutzt keine Webanalyse wie Google analytics u.a. Es werden daher auch keine Daten erhoben, gespeichert oder verarbeitet.

              %h5 6.	Salvatorische Klausel/Rechtswirksamkeit dieser Erklärung

              %p
                Sofern Teile oder einzelne Formulierungen dieses Textes der geltenden Rechtslage nicht, nicht mehr oder nicht vollständig entsprechen sollten, bleiben die übrigen Teile des Dokumentes in ihrem Inhalt und ihrer Gültigkeit davon unberührt.

              %h5 7.	Rechte der betroffenen Person

              %p
                Werden personenbezogene Daten von Ihnen verarbeitet, sind Sie Betroffener i.S.d. DSGVO und es stehen Ihnen folgende Rechte gegenüber der Verantwortlichen zu:

              %ol
                %li
                  Sie haben gegenüber mir folgende Rechte hinsichtlich der Sie betreffenden personenbezogenen Daten:
                  %br
                  •	Recht auf Auskunft über Ihre von mir/uns verarbeiteten personenbezogenen Daten (Artikel 15 DSGVO), dazu gehört auch: Auskunft über Verarbeitungszweck, Kategorie der personenbezogenen Daten, Empfänger oder Kategorien von Empfängern, geplante Speicherdauer,
                  %br
                  •	Recht auf unverzügliche Berichtigung unrichtiger Daten oder Vervollständigung unvollständiger Daten (Artikel 16 DSGVO),
                  %br
                  •	Recht auf unverzügliche Löschung (Artikel 17 DSGVO),
                  %br
                  •	Recht auf Einschränkung der Verarbeitung (Artikel 18 DSGVO),
                  %br
                  •	Recht auf Datenübertragbarkeit (Artikel 20 DSGVO),
                  %br
                  •	Recht auf jederzeitigen Widerruf Ihrer einmal erteilten Einwilligung (Artikel 7 Absatz 3 DSGVO),
                  %br
                  •	Recht auf Widerspruch gegen die Verarbeitung bei der Datenerhebung auf Grundlage von berechtigten Interessen nach Artikel 6 Absatz 1 Satz 1 lit.f DSGVO, soweit dafür Gründe vorliegen, die sich aus Ihrer besonderen Situation ergeben (Artikel 21 DSGVO),
                  %br
                  •	Recht, nicht einer ausschließlich auf eine automatisierten Verarbeitung – einschließlich Profiling – beruhende Entscheidung unterworfen zu werden, die Ihnen gegenüber rechtliche Wirkung entfaltet oder sie in ähnlicher Weise erheblich beeinträchtigt (Art. 22 DSGVO).

                  %p
                    Um diese Rechte geltend zu machen, können Sie sich jederzeit anden unter Ziffer 1 genannten Verantwortlichen wenden.

                %li
                  Beschwerderecht bei Aufsichtsbehörde: Sie haben das Recht, sich bei einer Aufsichtsbehörde zu beschweren (Artikel 77 DSGVO). In der Regel können Sie sich hierfür an die Aufsichtsbehörde Ihres üblichen Aufenthaltsortes oder Arbeitsplatzes wenden.

              %h5 1.	Auskunftsrecht

              %p
                Sie können von dem Verantwortlichen eine Bestätigung darüber verlangen, ob personenbezogene Daten, die Sie betreffen, von mir verarbeitet werden.

              %p
                Liegt eine solche Verarbeitung vor, können Sie von dem Verantwortlichen über folgende Informationen Auskunft verlangen:

              %ol
                %li
                  die Zwecke, zu denen die personenbezogenen Daten verarbeitet werden;
                %li
                  die Kategorien von personenbezogenen Daten, welche verarbeitet werden;
                %li
                  die Empfänger bzw. die Kategorien von Empfängern, gegenüber denen die Sie betreffenden personenbezogenen Daten offengelegt wurden oder noch offengelegt werden;
                %li
                  die geplante Dauer der Speicherung der Sie betreffenden personenbezogenen Daten oder, falls konkrete Angaben hierzu nicht möglich sind, Kriterien für die Festlegung der Speicherdauer;
                %li
                  das Bestehen eines Rechts auf Berichtigung oder Löschung der Sie betreffenden personenbezogenen Daten, eines Rechts auf Einschränkung der Verarbeitung durch den Verantwortlichen oder eines Widerspruchsrechts gegen diese Verarbeitung;
                %li
                  das Bestehen eines Beschwerderechts bei einer Aufsichtsbehörde;
                %li
                  alle verfügbaren Informationen über die Herkunft der Daten, wenn die personenbezogenen Daten nicht bei der betroffenen Person erhoben werden;
                %li
                  das Bestehen einer automatisierten Entscheidungsfindung einschließlich Profiling gemäß Art. 22 Abs. 1 und 4 DSGVO und – zumindest in diesen Fällen – aussagekräftige Informationen über die involvierte Logik sowie die Tragweite und die angestrebten Auswirkungen einer derartigen Verarbeitung für die betroffene Person.

              %p
                Ihnen steht das Recht zu, Auskunft darüber zu verlangen, ob die Sie betreffenden personenbezogenen Daten in ein Drittland oder an eine internationale Organisation übermittelt werden. In diesem Zusammenhang können Sie verlangen, über die geeigneten Garantien gem. Art. 46 DSGVO im Zusammenhang mit der Übermittlung unterrichtet zu werden.

              %h4 2.	Recht auf Berichtigung

              %p
                Sie haben ein Recht auf Berichtigung und/oder Vervollständigung gegenüber dem Verantwortlichen, sofern die verarbeiteten personenbezogenen Daten, die Sie betreffen, unrichtig oder unvollständig sind. Der Verantwortliche hat die Berichtigung unverzüglich vorzunehmen.

              %h4 3.	Recht auf Einschränkung der Verarbeitung

              %p
                Unter den folgenden Voraussetzungen können Sie die Einschränkung der Verarbeitung der Sie betreffenden personenbezogenen Daten verlangen:

              %ol
                %li
                  wenn Sie die Richtigkeit der Sie betreffenden personenbezogenen für eine Dauer bestreiten, die es dem Verantwortlichen ermöglicht, die Richtigkeit der personenbezogenen Daten zu überprüfen;
                %li
                  die Verarbeitung unrechtmäßig ist und Sie die Löschung der personenbezogenen Daten ablehnen und stattdessen die Einschränkung der Nutzung der personenbezogenen Daten verlangen;
                %li
                  der Verantwortliche die personenbezogenen Daten für die Zwecke der Verarbeitung nicht länger benötigt, Sie diese jedoch zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen benötigen, oder
                %li
                  (wenn Sie Widerspruch gegen die Verarbeitung gemäß Art. 21 Abs. 1 DSGVO eingelegt haben und noch nicht feststeht, ob die berechtigten Gründe des Verantwortlichen gegenüber Ihren Gründen überwiegen.

              %p
                Wurde die Verarbeitung der Sie betreffenden personenbezogenen Daten eingeschränkt, dürfen diese Daten – von ihrer Speicherung abgesehen – nur mit Ihrer Einwilligung oder zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen oder zum Schutz der Rechte einer anderen natürlichen oder juristischen Person oder aus Gründen eines wichtigen öffentlichen Interesses der Union oder eines Mitgliedstaats verarbeitet werden.

              %p
                Wurde die Einschränkung der Verarbeitung nach den o.g. Voraussetzungen eingeschränkt, werden Sie von dem Verantwortlichen unterrichtet bevor die Einschränkung aufgehoben wird.

              %h4 4.	Recht auf Löschung

              %ol{type: 'a'}
                %li
                  Sie können von dem Verantwortlichen verlangen, dass die Sie betreffenden personenbezogenen Daten unverzüglich gelöscht werden, und der Verantwortliche ist verpflichtet, diese Daten unverzüglich zu löschen, sofern einer der folgenden Gründe zutrifft:

                  %ol
                    %li
                      Die Sie betreffenden personenbezogenen Daten sind für die Zwecke, für die sie erhoben oder auf sonstige Weise verarbeitet wurden, nicht mehr notwendig.
                    %li
                      Sie widerrufen Ihre Einwilligung, auf die sich die Verarbeitung gem. Art. 6 Abs. 1 lit. a oder Art. 9 Abs. 2 lit. a DSGVO stützte, und es fehlt an einer anderweitigen Rechtsgrundlage für die Verarbeitung.
                    %li
                      Sie legen gem. Art. 21 Abs. 1 DSGVO Widerspruch gegen die Verarbeitung ein und es liegen keine vorrangigen berechtigten Gründe für die Verarbeitung vor, oder Sie legen gem. Art. 21 Abs. 2 DSGVO Widerspruch gegen die Verarbeitung ein.
                    %li
                      Die Sie betreffenden personenbezogenen Daten wurden unrechtmäßig verarbeitet.
                    %li
                      Die Löschung der Sie betreffenden personenbezogenen Daten ist zur Erfüllung einer rechtlichen Verpflichtung nach dem Unionsrecht oder dem Recht der Mitgliedstaaten erforderlich, dem der Verantwortliche unterliegt.
                    %li
                      Die Sie betreffenden personenbezogenen Daten wurden in Bezug auf angebotene Dienste der Informationsgesellschaft gemäß Art. 8 Abs. 1 DSGVO erhoben.

                %li
                  Information an Dritte
                  %p
                    Hat der Verantwortliche die Sie betreffenden personenbezogenen Daten öffentlich gemacht und ist er gem. Art. 17 Abs. 1 DSGVO zu deren Löschung verpflichtet, so trifft er unter Berücksichtigung der verfügbaren Technologie und der Implementierungskosten angemessene Maßnahmen, auch technischer Art, um für die Datenverarbeitung Verantwortliche, die die personenbezogenen Daten verarbeiten, darüber zu informieren, dass Sie als betroffene Person von ihnen die Löschung aller Links zu diesen personenbezogenen Daten oder von Kopien oder Replikationen dieser personenbezogenen Daten verlangt haben.

                %li
                  Ausnahmen
                  %p
                    Das Recht auf Löschung besteht nicht, soweit die Verarbeitung erforderlich ist

                  %ol
                    %li
                      zur Ausübung des Rechts auf freie Meinungsäußerung und Information;
                    %li
                      zur Erfüllung einer rechtlichen Verpflichtung, die die Verarbeitung nach dem Recht der Union oder der Mitgliedstaaten, dem der Verantwortliche unterliegt, erfordert, oder zur Wahrnehmung einer Aufgabe, die im öffentlichen Interesse liegt oder in Ausübung öffentlicher Gewalt erfolgt, die dem Verantwortlichen übertragen wurde;
                    %li
                      aus Gründen des öffentlichen Interesses im Bereich der öffentlichen Gesundheit gemäß Art. 9 Abs. 2 lit. h und i sowie Art. 9 Abs. 3 DSGVO;
                    %li
                      für im öffentlichen Interesse liegende Archivzwecke, wissenschaftliche oder historische Forschungszwecke oder für statistische Zwecke gem. Art. 89 Abs. 1 DSGVO, soweit das unter Abschnitt a) genannte Recht voraussichtlich die Verwirklichung der Ziele dieser Verarbeitung unmöglich macht oder ernsthaft beeinträchtigt, oder
                    %li
                      zur Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.

              %h4  5.	Recht auf Unterrichtung

              %p
                Haben Sie das Recht auf Berichtigung, Löschung oder Einschränkung der Verarbeitung gegenüber dem Verantwortlichen geltend gemacht, ist dieser verpflichtet, allen Empfängern, denen die Sie betreffenden personenbezogenen Daten offengelegt wurden, diese Berichtigung oder Löschung der Daten oder Einschränkung der Verarbeitung mitzuteilen, es sei denn, dies erweist sich als unmöglich oder ist mit einem unverhältnismäßigen Aufwand verbunden.

              %p
                Ihnen steht gegenüber dem Verantwortlichen das Recht zu, über diese Empfänger unterrichtet zu werden.

              %h4 6.	Recht auf Datenübertragbarkeit

              %p
                Sie haben das Recht, die Sie betreffenden personenbezogenen Daten, die Sie dem Verantwortlichen bereitgestellt haben, in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten. Außerdem haben Sie das Recht diese Daten einem anderen Verantwortlichen ohne Behinderung durch den Verantwortlichen, dem die personenbezogenen Daten bereitgestellt wurden, zu übermitteln, sofern

              %ol
                %li
                  die Verarbeitung auf einer Einwilligung gem. Art. 6 Abs. 1 lit. a DSGVO oder Art. 9 Abs. 2 lit. a DSGVO oder auf einem Vertrag gem. Art. 6 Abs. 1 lit. b DSGVO beruht und
                %li
                  die Verarbeitung mithilfe automatisierter Verfahren erfolgt.

              %p
                In Ausübung dieses Rechts haben Sie ferner das Recht, zu erwirken, dass die Sie betreffenden personenbezogenen Daten direkt von einem Verantwortlichen einem anderen Verantwortlichen übermittelt werden, soweit dies technisch machbar ist. Freiheiten und Rechte anderer Personen dürfen hierdurch nicht beeinträchtigt werden.

              %p
                Das Recht auf Datenübertragbarkeit gilt nicht für eine Verarbeitung personenbezogener Daten, die für die Wahrnehmung einer Aufgabe erforderlich ist, die im öffentlichen Interesse liegt oder in Ausübung öffentlicher Gewalt erfolgt, die dem Verantwortlichen übertragen wurde.

              %h4 7.	Widerspruchsrecht

              %p
                Sie haben das Recht, aus Gründen, die sich aus ihrer besonderen Situation ergeben, jederzeit gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten, die aufgrund von Art. 6 Abs. 1 lit. e oder f DSGVO erfolgt, Widerspruch einzulegen; dies gilt auch für ein auf diese Bestimmungen gestütztes Profiling.

              %p
                Der Verantwortliche verarbeitet die Sie betreffenden personenbezogenen Daten nicht mehr, es sei denn, er kann zwingende schutzwürdige Gründe für die Verarbeitung nachweisen, die Ihre Interessen, Rechte und Freiheiten überwiegen, oder die Verarbeitung dient der Geltendmachung, Ausübung oder Verteidigung von Rechtsansprüchen.

              %p
                Werden die Sie betreffenden personenbezogenen Daten verarbeitet, um Direktwerbung zu betreiben, haben Sie das Recht, jederzeit Widerspruch gegen die Verarbeitung der Sie betreffenden personenbezogenen Daten zum Zwecke derartiger Werbung einzulegen; dies gilt auch für das Profiling, soweit es mit solcher Direktwerbung in Verbindung steht.

              %p
                Widersprechen Sie der Verarbeitung für Zwecke der Direktwerbung, so werden die Sie betreffenden personenbezogenen Daten nicht mehr für diese Zwecke verarbeitet.

              %p
                Sie haben die Möglichkeit, im Zusammenhang mit der Nutzung von Diensten der Informationsgesellschaft – ungeachtet der Richtlinie 2002/58/EG – Ihr Widerspruchsrecht mittels automatisierter Verfahren auszuüben, bei denen technische Spezifikationen verwendet werden.

              %h4 8.	Recht auf Widerruf der datenschutzrechtlichen Einwilligungserklärung

              %p
                Sie haben das Recht, Ihre datenschutzrechtliche Einwilligungserklärung jederzeit zu widerrufen. Durch den Widerruf der Einwilligung wird die Rechtmäßigkeit der aufgrund der Einwilligung bis zum Widerruf erfolgten Verarbeitung nicht berührt.

              %h4 9.	Automatisierte Entscheidung im Einzelfall einschließlich Profiling

              %p
                Sie haben das Recht, nicht einer ausschließlich auf einer automatisierten Verarbeitung – einschließlich Profiling – beruhenden Entscheidung unterworfen zu werden, die Ihnen gegenüber rechtliche Wirkung entfaltet oder Sie in ähnlicher Weise erheblich beeinträchtigt. Dies gilt nicht, wenn die Entscheidung

              %ol
                %li
                  für den Abschluss oder die Erfüllung eines Vertrags zwischen Ihnen und dem Verantwortlichen erforderlich ist,
                %li
                  aufgrund von Rechtsvorschriften der Union oder der Mitgliedstaaten, denen der Verantwortliche unterliegt, zulässig ist und diese Rechtsvorschriften angemessene Maßnahmen zur Wahrung Ihrer Rechte und Freiheiten sowie Ihrer berechtigten Interessen enthalten oder
                %li
                  mit Ihrer ausdrücklichen Einwilligung erfolgt.

              %p
                Allerdings dürfen diese Entscheidungen nicht auf besonderen Kategorien personenbezogener Daten nach Art. 9 Abs. 1 DSGVO beruhen, sofern nicht Art. 9 Abs. 2 lit. a oder g DSGVO gilt und angemessene Maßnahmen zum Schutz der Rechte und Freiheiten sowie Ihrer berechtigten Interessen getroffen wurden.

              %p
                Hinsichtlich der in (1) und (3) genannten Fälle trifft der Verantwortliche angemessene Maßnahmen, um die Rechte und Freiheiten sowie Ihre berechtigten Interessen zu wahren, wozu mindestens das Recht auf Erwirkung des Eingreifens einer Person seitens des Verantwortlichen, auf Darlegung des eigenen Standpunkts und auf Anfechtung der Entscheidung gehört.

              %h4 10.	Recht auf Beschwerde bei einer Aufsichtsbehörde

              %p
                Unbeschadet eines anderweitigen verwaltungsrechtlichen oder gerichtlichen Rechtsbehelfs steht Ihnen das Recht auf Beschwerde bei einer Aufsichtsbehörde, insbesondere in dem Mitgliedstaat ihres Aufenthaltsorts, ihres Arbeitsplatzes oder des Orts des mutmaßlichen Verstoßes, zu, wenn Sie der Ansicht sind, dass die Verarbeitung der Sie betreffenden personenbezogenen Daten gegen die DSGVO verstößt.

              %p
                Die Aufsichtsbehörde, bei der die Beschwerde eingereicht wurde, unterrichtet den Beschwerdeführer über den Stand und die Ergebnisse der Beschwerde einschließlich der Möglichkeit eines gerichtlichen Rechtsbehelfs nach Art. 78 DSGVO.

              %h4 11.	Pflichten der betroffenen Person

              %p
                %b Keine Abmahnung ohne Kontakt!

              %p
                Im Falle der Geltendmachung von Ansprüchen jeglicher Art aus Urheber-, wettbewerbsrechtlichen sowie markenrechtlichen und datenrechtlichen Angelegenheiten bitte ich, zur Vermeidung unnötiger Rechtsstreitigkeiten, Abmahnungen und Kosten, mich umgehend zu kontaktieren. Falls Ansprüche der oben genannten Art reklamiert werden, sage ich bereits hier vor einer endgültigen rechtsverbindlichen Klärung Abhilfe zu, durch die eine eventuelle Wiederholungsgefahr verbindlich ausgeschlossen ist. Eine dennoch ergehende Kostennote einer anwaltlichen Abmahnung ohne vorhergehende Kontaktaufnahme würde sodann wegen Nichtbeachtung einer Schadensminderungs-pflicht zurückgewiesen.

              %p
                Die in diesem Sinne unnötigen bzw. unberechtigten Abmahnungen und Folgemaßnahmen würden mit einer negativen Feststellungsklage beantwortet. Dies gilt auch für  Abmahnungen, die unter § 8 (4) UWG fallen.  Sollte der Inhalt oder die Aufmachung dieser Seiten fremde Rechte Dritter oder gesetzliche Bestimmungen verletzen, so bitte ich um eine entsprechende Nachricht ohne Kostennote. Die Beseitigung einer möglicherweise von diesen Seiten ausgehenden Schutzrecht-Verletzung durch Schutzrecht-Inhaberinnen selbst darf nicht ohne meine Zustimmung stattfinden.

              %h4 12.	Aktualität und Änderung dieser Datenschutzerklärung

              %p
                Diese Datenschutzerklärung hat den Stand Mai 2018. Ich behalte  mir vor, die Datenschutzerklärung zu aktualisieren, um den Datenschutz zu verbessern oder an geän‐derte behördliche oder gerichtliche Vorgaben anzupassen. Die aktuelle Datenschutzerklärung kann jederzeit auf der Website unter
                = link_to 'https://www.datenschutz-grundverordnung.eu/', 'https://www.datenschutz-grundverordnung.eu/'
                abgerufen und ausgedruckt werden.













    = partial 'layouts/footer', locals: {bg_color: "bg-lighter"}
