.page.text-center

  = partial "layouts/header", locals: {page: ""}

  %main.page-content
    %section.section-98.section-sm-110
      .shell
        .range.range-xs-center
          .cell-sm-12
            .text-left
              %h3 Impressum
              %hr.divider-custom.text-java.hr-left-0.hr-sm-left-2
              .offset-top-66
                %p
                  %b Praxis für Psychotherapie
                  %br
                  %b Dipl.-Sozialpäd. Kathrin Reiter
                  %br
                  %b Kinder- u. Jugendlichenpsychotherapeutin (VT)
                  %br
                  %b Spezielle Psychotraumatherapie für Kinder und Jugendliche (DeGPT)
                %p
                  Senefelderstr. 16
                  %br
                  10437 Berlin
                %p
                  Telefon: +49 (0)151 28 76 01 77
                %p
                  %a{href: "mailto:info@psychotherapie-reiter.de"} info@psychotherapie-reiter.de
                  %br
                  %a{href: 'http://www.psychotherapie-reiter.de'} www.psychotherapie-reiter.de

                %p
                  Str.-Nr.: 31/489/01004
                  Finanzamt Berlin

                %h6.offset-top-66
                  Gesetzliche Berufsbezeichnung
                %p
                  „Kinder- u. Jugendlichenpsychotherapeutin“, verliehen in Deutschland (Landesamt für Umwelt, Gesundheit und Verbraucherschutz Brandenburg, Wünsdorfer Platz 3, 15806 Zossen,
                  %a{href: 'http://www.lugv.brandenburg.de'} www.lugv.brandenburg.de
                  )

                %p
                  %b Therapieverfahren:
                  Verhaltenstherapie (Fachkundenachweis)

                %p
                  %b
                    Eintrag Arztregister:
                  Kassenärztlichen Vereinigung Berlin
                  %br
                  (Masurenallee 6, 14057 Berlin, Registernummer 29471
                  %a{href: 'http://www.kvberlin.de'} www.kvberlin.de
                  )

                %p
                  %b
                    Zuständige Aufsichtsbehörde:
                  Psychotherapeutenkammer Berlin
                  %br
                  %a{href: 'http://www.psychotherapeutenkammer-berlin.de '}
                    www.psychotherapeutenkammer-berlin.de

                %p
                  %b
                    Kammergesetz und Berufsordnung:
                  Gesetz über die Berufe des psychologischen Psychotherapeuten und des Kinder- und Jugendlichenpsychotherapeuten (Psychotherapeutengesetz – PsychThG) vom 16.06.1998 (Bundesgesetzblatt I Seite 1311), zuletzt geändert durch Art. 34a G vom 6. Dezember 2011 (BGBl. I S. 2515, 2536 f.)
                  %br
                  Landesgesundheitsdienstegesetz, Landesheilberufe-Kammergesetz: Texte der genannten Bestimmungen sind bei der o.g. Aufsichtsbehörde erhältlich

                %h6.offset-top-66
                  Haftungshinweise

                %p
                  Trotz sorgfältiger inhaltlicher Kontrolle wird keine Gewähr für die Aktualität, die Vollständigkeit und die Korrektheit der auf dieser Homepage eingestellten Informationen übernommen.

                %p
                  Die auf dieser Homepage angegebenen externen Links wurden zum Zeitpunkt des Eintrags geprüft, können aber nicht regelmäßig auf eventuelle Veränderungen hin kontrolliert werden. Wir distanzieren uns deshalb ausdrücklich von den Inhalten der verlinkten Seiten und machen uns deren Inhalte nicht zu eigen. Für illegale, unkorrekte oder unvollständige Inhalte sowie für Schäden, die durch die Nutzung der Informationen entstehen, haftet allein der Betreiber der Internetseite, auf die verlinkt wurde. Eine Haftung durch den bloßen Hinweis auf diese Veröffentlichung ist ausgeschlossen. Für fremde Links auf die hier angebotene Homepage besteht nur dann Verantwortung, wenn der Betreiber positive Kenntnis von z.B. deren eventuell illegalen oder strafbaren Inhalten hat und es dem Betreiber technisch möglich und zumutbar ist, die Nutzung dieser Homepage zu unterbinden.

    = partial 'layouts/footer', locals: {bg_color: "bg-lighter"}
