.page.text-center

  = partial "layouts/header", locals: {page: ""}

  %main.page-content.section-top-98.section-sm-top-110
    %section
      .shell
        .range.range-xs-center
          .cell-sm-12
            .text-left
              %h3 Impressum
              %hr.divider-custom.text-java.hr-left-0.hr-sm-left-2
              .offset-top-66
                %p
                  %b Praxis für Psychotherapie
                %br
                  %b Dipl.-Sozialpäd. Kathrin Reiter
                %br
                  %b Kinder- u. Jugendlichenpsychotherapeutin (VT)
                %br
                  %b Spezielle Psychotraumatherapie für Kinder und Jugendliche (DeGPT)
